
{% extends 'base.html.twig' %}

{% block title %}  {{ parent() }} _Home {% endblock %}

{% block body %}
    <h2> Welcome to Noudaf App</h2>

    <div class="row" id="description">
        <div class="col-md-10">
            Ici se trouve la description de l'entreprise
        </div>


    </div>
{% endblock %}


